// Specific CSS for your home-page
.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}
a {
  text-decoration: none;
}
h4 {
  font-weight: 600;
  color:#3A77BB;
}
#home-link {
  text-decoration: none;
  font-weight: 600;
  color: #2f6097;
  font-size: 32px;
}
.link-friend-page {
    border: 1px solid #3A77BB;
    padding: 10px 15px;
    color: #3A77BB;
    background-color: white;
    border-radius: 20px;
    &:hover {
        background-color: #3A77BB;
        color: white;
        transition-delay: 150ms;
        transition-duration: 100ms;
    }
}

.main-container {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
  margin-top: 40px;
  // grid-column-gap: 50px;
 }
 .card-left {
  width: 28%;
  // flex-grow: 1;
  border-radius: 10px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  height: 290px;
  position: sticky;
  top: 80px;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: white;
}
.card-center {
  width: 44%;
  // flex-grow: 1;
  padding: 0px 16px;


}
.card-right{
  width: 28%;
  // flex-grow: 1;
  border-radius: 10px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  height: 650px;
  background-color: white;
  position: sticky;
  top: 100px;
}
//  Cards that belong to card-left
.social-media-card{
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  a {
    color: black;
    margin-left: 10px;
  }
}
#new-btn {
  color: white;
  &:hover {
    color: #3A77BB;
  }
}
#my-profile-btn {
  color: white;
  &:hover {
    color: #3A77BB;
  }
}
// Cards that belong to card-center
.card-main{
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  // width: 500px;
  margin-bottom: 25px;
  a {
    text-decoration: none;
    color: rgba(0,0,0,0.4);
    font-weight: 600;
  }
}
.title-card{
  display: flex;
  align-items: center;
}
.title-card-block h4{
  color: blue;
}
.title-card-block p{
  color: grey;
  margin: 0;
}
.title-card-block a {
  text-decoration: none;
  color: #3A77BB;
  font-weight: 600;
}
#topBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  padding: 10px 15px;
  background-color: #3A77BB;
  color: white;
  font-weight: 500;
  border-radius: 10px;
}
.infos-user {
  padding: 5px 5px;
}
.home-nft-img {
  height: 600px;
  width: 100%;
}

.search-friend {
  width: 100% !important;
}

