// Specific CSS for your home-page
a {
    text-decoration: none;
}
.link-friend-page {
    border: 1px solid #3A77BB;
    padding: 10px 15px;
    color: #3A77BB;
    background-color: white;
    border-radius: 20px;
    &:hover {
        background-color: #3A77BB;
        color: white;
        transition-delay: 150ms;
        transition-duration: 100ms;
    }
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: auto;
 }.card-left {
  width: 25%;
  background-color: yellow;
} .card-center {
  width: 50%;
  padding: 0px 16px;

} .card-right{
  width: 25%;
  background-color: yellow;
}
//  Cards that belong to card-left
.social-media-card{
  width: 70%;
  align-items: center;
}
// Cards that belong to card-center
.card-main{
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-bottom: solid grey;
  width: 70%;
  margin-bottom: 16px;
}
.title-card{
  display: flex;
  border-bottom: solid grey;
  align-items: center;
}
.title-card-block h4{
  color: blue;
} .title-card-block p{
  color: grey;
  margin: 0;
}

