.user-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-user-container {
  max-width: 1440px;
  margin: auto;
}

.dropdown-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-user {
  border-radius: 10px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 90px;
}
.card-user-text {
  // align-self: flex-end;
}

.card-nft {
  border-radius: 10px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.img-rounded-corner {
  border-radius: 20px;
}
.card-img-top {
  padding: 10px;
}
.dropdown {
  width: 100%;
}
.chat-button {
  width: 100%;
  border-radius: 10px;
}
.user-info-container {
  margin-top:-70px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-self: center;
}
.column-items {
  display: flex;
  flex-direction: column;
}
.nfts-container {
  display: grid;
  grid-gap: 20px 30px;
  grid-template-columns: 1fr 1fr 1fr;
  // max-width: 1200px;
  place-self: center;
}

@media screen and (max-width: 1700px) {
  .nfts-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1200px) {
  .nfts-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
