.follow-button {
    border-radius: 10px;
    background-color: #3A77BB;
    color: white;
    padding: 10px 15px;
    font-weight: 500;
}
.new-nft-btn {
    background-color: #3A77BB;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 500;
    font-weight: 600;
    border: 1px solid transparent;
    &:hover {
        background-color: white;
        color: #3A77BB;
        border: 1px solid #3A77BB;
    }
}
.link-profile-chat {
    background-color: white;
    color: #3A77BB;
    border-bottom: 2px solid transparent;
    &:hover {
        border-bottom: 2px solid #3A77BB;
    }
}
.link-profile-chat a {
    text-decoration: none;
    font-weight: 500;
}
.btn-created-nft {
    border: 1px solid rgba(0,0,0,0.3);
}
.background-grey {
    background-color: rgba(0,0,0,0.2);
}
#btn-follow-show {
    font-weight: 600;
    color: white;
    border: 1px solid transparent;
    &:hover {
        background-color: white;
        color: #3A77BB;
        border: 1px solid #3A77BB;
    }
}
.upload-file {
    border-radius: 10px;
    border: 2px solid #3A77BB;
    color: #3A77BB;
    &:hover {
        color: #7daee6;
    }
}
