.card-product {
  overflow: hidden;
  min-height: 120px;
  background: white;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.card-suggestion {
  padding: 10px 15px;
  top: 80px;
  position: sticky;
}
.card-horizontal {
  display: flex;
  flex-direction: column;
}

.red {
  color: red;
}

.blue {

  color: blue;
}
.card-new-nft {
  padding: 20px 20px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  border-radius: 20px;
  width:50%;
  margin: auto;
  margin-top: 100px;
}
.background-black {
  background-color: black;
  width: 100%;
  height: 900px;
}
.card-follow-show {
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 15px 15px;
  margin-top: 20px;
  background-color: white;
}
.card-chatroom {
  width: 50%;
  margin: auto;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 22px 22px;
}
.image-message {
  background-color: white;
  padding: 10px 10px;
}
.card-follow-category {
  // height: 200px;
  display:flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 15px 15px;
  margin-top: 100px;
  background-color: white;
}
.card-search-user {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  padding: 5px 10px;
  z-index: 10;
}
.card-nfts-chatroom {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  padding: 5px 10px;
  width: 370px;
}