.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Responsive Navbar Section
.navbar-lewagon.navbar-alternate {
  background: #3A77BB;
  transition-delay: 100ms;
  transition-duration: 150ms;
}
